/* ==========================================================================
   CARDS
   ========================================================================== */

.card {
    @apply shadow bg-white rounded-md p-2;
    @apply dark:bg-dark-600 dark:shadow-dark;
}

@screen md {
    .card { @apply p-4; }
}

.card-lg {
    @apply rounded-lg;
}

.card-lg header {
    @apply py-6 px-8 border-b dark:bg-dark-650 rounded-t-lg dark:border-dark-800;
}

.shadow-pop {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: rgba(0, 0, 0, .05);
    --tw-shadow: var(--tw-shadow-colored);
}
